.Meu-Projeto-Rapído{
    text-align: center;
    color:blueviolet;
}
a{

text-decoration: none;
}
.botao-Comprar{
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color:#04AA6D;
background-color:crimson
}
body{
font-family: Arial, Helvetica, sans-serif;
background-color:blanchedalmond;
}
.menu{
    background-color:violet;
    padding: 20px;
    text-align: center;
 
}
